<div>
    <p></p>
    <h3>Регистрация</h3>
    <p></p>

    <div class="row g-2">

        <div class="col-sm-6 col-md-10">
            <table class="table table-hover">
                <tr>
                    <td>Заполните данные поля.    </td>
                </tr>
                <tr>
                    <td>Введите логин:   </td>
                    <td>
                        <input id="navLoginField" class="form-control" ng-model="new_user.username" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                    </td>
                </tr>
                <tr>
                    <td>Введите пароль:  </td>
                    <td>
                        <input id="navPassword1Field" class="form-control" ng-model="new_user.password" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                    </td>
                </tr>
                <tr>
                    <td>Повторите пароль:  </td>
                    <td>
                        <input id="navPassword2Field" class="form-control" ng-model="new_user.passwordConfirmation" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                    </td>
                </tr>
                <tr>
                    <td>e-mail:    </td>
                    <td>
                        <input id="navEmailField" class="form-control" ng-model="new_user.email" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;" placeholder="user@mail.com">
                    </td>
                </tr>
                <tr>
                    <td>Задача:    </td>
                    <td align="center">
                        <select id="navRoleField" class="form-select form-select-lg" ng-model="new_user.roleName"
                                aria-label=".form-select-lg example">
                            <option selected>Выберите один вариант:</option>
                            <option value="ROLE_GUEST">Поиск и аренда жилья</option>
                            <option value="ROLE_LEGAL_HOST">Предоставление жилья как юридическое лицо</option>
                            <option value="ROLE_INDIVIDUAL_HOST">Предоставление жилья как физическое лицо</option> <!--добавить возможность арендовывать жилье тоже??? -->
                        </select>
                    </td>
                </tr>
            </table>
            <button class="btn btn-outline-secondary btn-sm" ng-click="tryToRegistration()">Регистрация</button>
        </div>
    </div>
</div>