<div>
    <p></p>
    <h3>Заказы моих аппартаментов</h3>
    <p></p>

    <table class="table table-hover">
        <tr>
            <td>ID заказа</td>
            <td>Название жилья</td>
            <td>Дата заселения</td>
            <td>Дата выселения</td>
            <td>Цена за одну ночь</td>
            <td>Полная стоимость</td>
            <td>Статус заказа</td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="order in MyOrders">
            <td>{{order.id}}</td>
            <td>{{order.apartmentTitle}}</td>
            <td>{{order.apartmentCheckIn}}</td>
            <td>{{order.apartmentCheckOut}}</td>
            <td>{{order.price}}</td>
            <td>{{order.totalPrice}}</td>
            <td>{{order.status}}</td>
            <td>
                <button type="button" class="btn btn-primary" ng-show="isStatusConfirmedStay(order.status)" ng-click="outCash(order.id)">Вывести средства</button>
                <button class="btn btn-danger"  ng-show="isStatusPaid(order.status)"ng-click="confirmOrder(order.id)">Подтвердить оплату</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>



