<div>
    <p></p>
    <h3>Список бронирования</h3>
    <h3 ng-show="isUserLoggedIn() && booking.items.length == 0">Здесь пусто. Выберите <a href="#!/store">апартамент</a></h3>
    <table ng-show="isUserLoggedIn() && booking.items.length > 0" class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Апартамент</td>
            <td>Адрес</td>
            <td>Период</td>
            <td>Стоимость</td>
            <td>Действия</td>

        </tr>
        <tbody>
        <tr ng-repeat="item in booking.items">
            <td>{{item.itemId}}</td>
            <td>{{item.apartmentInfo}}</td>
            <td>{{item.apartmentAddress}}</td>
            <td>{{'From: ' + item.bookingStartDate}}
                <p> {{'To:   ' + item.bookingFinishDate}}</p>
            <td>{{item.pricePerNight + ' x ' + item.bookingDuration}}
                <p> {{item.pricePerOrder}}</p>
            </td>
            <td>
                <button class="btn btn-danger btn-sm"
                        ng-click="removeBookingItem(item.apartmentId, item.bookingStartDate, item.bookingFinishDate)">
                    Удалить
                </button>
                <button class="btn btn-primary btn-sm" ng-show="isUserLoggedIn()" ng-click="checkOut(item.itemId)">Оформить заказ</button>
                <button class="btn btn-secondary btn-sm" ng-show="!isUserLoggedIn()" ng-click="disabledCheckOut()">Оформить</button>
            </td>

        </tr>
        </tbody>
    </table>
    <p>
        <button  ng-show="isUserLoggedIn() && booking.items.length > 0" class="btn btn-secondary" ng-click="clearBooking()">Очистить список</button>
    </p>

</div>