<div>
    <p></p>
    <h3>Список бронирования</h3>
    <table class="table table-hover">
        <tr>
            <td>Апартамент</td>
            <td>Адрес</td>
            <td>Период</td>
            <td>Стоимость</td>

        </tr>
        <tbody>
        <tr ng-repeat="item in booking.items">
            <td>{{item.apartmentInfo}}</td>
            <td>{{item.apartmentAddress}}</td>
            <td>{{'From: ' + item.bookingStartDate + '/n' + 'To:   ' + item.bookingFinishDate}}</td>
            <td>{{item.pricePerNight + ' x ' + item.bookingDuration + ' =/n = ' +  item.pricePerOrder}}
                <button class="btn btn-danger btn-sm"
                        ng-click="removeBookingItem(item.apartmentId, item.bookingStartDate, item.bookingFinishDate)">
                    Удалить
                </button>
            </td>

        </tr>
        <tr>
            <td></td>
            <td>Итого</td>
            <td>{{booking.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
    <p>
        <button class="btn btn-secondary" ng-click="clearBooking()">Очистить список</button>
    </p>

    <p></p>
    <h3>Детали заказа</h3>
    <form novalidate>
        <input class="form-control" type="text" placeholder="Номер телефона получателя" ng-model="orderDetails.phone">
        <p></p>
        <input class="form-control" type="text" placeholder="Адрес доставки" ng-model="orderDetails.address">
        <p></p>
    </form>

    <button class="btn btn-primary" ng-click="checkOut()" ng-show="isUserLoggedIn() && booking.items.length > 0">Оформить заказ</button>
    <button class="btn btn-secondary" ng-click="disabledCheckOut()" ng-show="!isUserLoggedIn() && booking.items.length > 0">Оформить заказ</button>
</div>