<div>
    <p></p>
    <h3>Личный кабинет</h3>
    <p></p>

    <div class="row g-2">

        <div class="col-sm-6 col-md-10">
            <table class="table table-hover">
                <tr>
                    <td>ID:      </td>
                    <td>{{hostAccount.id}}</td>
                </tr>
                <tr>
                    <td>Логин:   </td>
                    <td>{{hostAccount.username}}</td>
                </tr>
                <tr>
                    <td>Фамилия:  </td>
                    <td>{{hostAccount.surname}}</td>
                    <!-- TODO сделать инпутс и кнопку для изменения/сохранения данных  -->
                    <td>
                        <input id="updateSurnameHostField" class="form-control" ng-model="updateHostAccount.surname" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                    </td>
                </tr>
                <tr>
                    <td>Имя:      </td>
                    <td>{{hostAccount.name}}</td>
                    <td>
                        <input id="updateNameHostField" class="form-control" ng-model="updateHostAccount.name" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                    </td>
                </tr>
                <tr>
                    <td>Отчество: </td>
                    <td>{{hostAccount.patronymic}}</td>
                    <td>
                        <input id="updatePatronymicHostField" class="form-control" ng-model="updateHostAccount.patronymic" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                    </td>
                </tr>
                <tr>
                    <td>ИНН:      </td>
                    <td>{{hostAccount.inn}}</td>
                    <td>
                        <input id="updateInnHostField" class="form-control" ng-model="updateHostAccount.inn" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                    </td>
                </tr>
                <tr>
                    <td>Гражданство:    </td>
                    <td>{{hostAccount.country}}      </td>
                    <td>
                        <input id="updateCountryHostField" class="form-control" ng-model="updateHostAccount.country" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                    </td>
                </tr>
                <tr>
                    <td>Адрес офиса: </td>
                    <td>{{hostAccount.officeAddress}}</td>
                    <td>
                        <input id="updateOfficeAddressHostField" class="form-control" ng-model="updateHostAccount.officeAddress" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                    </td>
                </tr>
                <tr>
                    <td>Почтовый индекс: </td>
                    <td>{{hostAccount.postcode}}</td>
                    <td>
                        <input id="updatePostcodeHostField" class="form-control" ng-model="updateHostAccount.postcode" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                    </td>
                </tr>
                <tr>
                    <td>Номер счета: </td>
                    <td>{{hostAccount.account}}</td>
                    <td>
                        <input id="updateFinAccountHostField" class="form-control" ng-model="updateHostAccount.account" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                    </td>
                </tr>
            </table>
            <button class="btn btn-outline-secondary btn-sm" ng-click="tryToUpdateLegalHostAccount()">Сохранить данные</button>
        </div>
    </div>
</div>